<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.demo_ybx07.dao.mapper.UserMapper" >
  <select id="findByName" parameterType="String" resultMap="userMap">
    select u.*, r.*, p.*,r.id AS rid,p.id AS pid
    from user u
    inner join user_role ur on u.id = ur.uid
    inner join role r on r.id = ur.rid
    inner join role_permission pr on pr.rid = r.id
    inner join permission p on p.id = pr.pid
    where u.user_name = #{userName}
  </select>
  <resultMap type="com.springboot.demo_ybx07.entity.UserEntity" id="userMap">
    <id column="id" property="id"/>
    <result column="pass_word" property="passWord"/>
    <result column="user_name" property="userName"/>
    <result column="name" property="name"/>
    <result column="salt" property="salt"/>
    <collection property="roles" ofType="com.springboot.demo_ybx07.entity.RoleEntity">
      <id column="rid" property="id"/>
      <result column="role" property="role"/>
      <collection property="permissions" ofType="com.springboot.demo_ybx07.entity.PermissionEntity">
        <id property="id" column="pid"/>
        <result property="pName" column="p_name"/>
      </collection>
    </collection>
  </resultMap>
</mapper>